<div class="dropdown notification-dropdown">
  <button class="btn btn-default dropdown-toggle" type="button", id: "dropdownMenu1", data-toggle="dropdown">
    <%= current_user.notifications.count %>
    <span class="glyphicon glyphicon-flag"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-header text-center">Notifications</li>
    <%= render current_user.notifications.order('created_at DESC').last(5) %>
    <li class="divider" role="separator"></li>
    <li class="text-center">
      <%= link_to 'View All', notifications_path %>
    </li>
  </ul>
</div>
