<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_name %>
    <%= f.input :email %>
    <%= f.input :is_super_user if current_user.is_super_user %>
  </div>
  
  <%= link_to "Edit password", edit_password_path(id: @user.id) %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
