<h1>Editing User Password</h1>
<div class="container">
  <div class="row">

    <%= render 'password' %>
    
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
    </div>
</div>