<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">

    <h1>Listing Users</h1>
    
    <table>
      <thead>
        <tr>
          <th>User name</th>
          <th>Email</th>
          <th>Is super user</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.user_name %></td>
            <td><%= user.email %></td>
            <td><%= user.is_super_user %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New User', new_user_path %>
  </div>
</div>