<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>User name:</strong>
      <%= @user.user_name %>
    </p>
    
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    
    <p>
      <strong>Is super user:</strong>
      <%= @user.is_super_user %>
    </p>
    
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>