<div class="login-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel">
          <div class="panel-heading">
            <h2><%= t "devise.invitations.new.header" %></h2>
          </div>
          <div class="panel-body">
            <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f| %>
              <%= devise_error_messages! %>
            
            <% resource.class.invite_key_fields.each do |field| -%>
              <%= f.input field %>
            <% end -%>
            
            <%= f.button :submit, t("devise.invitations.new.submit_button") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
