<%= render 'post', post: @post %>
<div class="text-center edit-links">
  <% if @post.user.id == current_user.id || current_user.is_super_user %>
    <%= link_to "Cancel", posts_path %>
    |
    <%= link_to "Edit Post", edit_post_path(@post) %>
  <% else %>
    <%= link_to "Cancel", root_path %>
  <% end %>
</div>

