// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-head { 
     background-color: white; 
     color: white;

     .user-name a { 
          color: white !important;   
     }
}
