<html>
  <head>
    <title>Photogram</title>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>    

  </head>
</html>
<body>
  <%= render 'layouts/navbar' %>
  <% flash.each do |name, msg| %>
    <div class="container"></div>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
  <% end %>
  <%= yield %>
</body>
